Source: eshutdown
Section: gui
Maintainer: Alexander Kerner <lunohod@openinkpot.org>
Build-Depends: debhelper (>> 7), autoconf, automake, pkg-config, libecore-dev (>= 0.9.9.49898-5), libedje-dev, libevas-dev, libkeys-dev, libeoi-dev, libedje-bin
XCS-Cross-Host-Build-Depends: debhelper (>> 7), autoconf, automake, pkg-config, libedje-bin
XCS-Cross-Build-Depends: libecore-dev (>= 0.9.9.49898-5), libedje-dev, libevas-dev, libkeys-dev, libeoi-dev
Priority: optional
Standards-Version: 3.8.3

Package: eshutdown
Architecture: any
Depends: ${shlibs:Depends}
Description: OpenInkpot Shutdown GUI
 OpenInkpot Shutdown GUI

Package: eshutdown-dbg
Architecture: any
Depends: ${shlibs:Depends}
Description: OpenInkpot Shutdown GUI -- debugging symbols
 OpenInkpot Shutdown GUI
 .
 This package provides debugging symbols.

